<a href="https://colab.research.google.com/github/anindabitm/Air_quality_challenge/blob/master/Air_quality_challenge_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
os.chdir('/content/drive/My Drive/Air_quality/')

In [0]:
import requests
import requests, zipfile

url = 'https://api.zindi.africa/v1/competitions/airqo-ugandan-air-quality-forecast-challenge/files/Train.csv'
myobj = {'auth_token': '2gW9tmmDfUefroDYvei3HhE3'} 

x = requests.post(url, data = myobj,stream=True)
target_path = 'Train.csv'

handle = open(target_path, "wb")
for chunk in x.iter_content(chunk_size=512):
    if chunk:  # filter out keep-alive new chunks
        handle.write(chunk)
handle.close()

In [0]:
url = 'https://api.zindi.africa/v1/competitions/airqo-ugandan-air-quality-forecast-challenge/files/Test.csv'
myobj = {'auth_token': '2gW9tmmDfUefroDYvei3HhE3'} 

x = requests.post(url, data = myobj,stream=True)
target_path = 'Test.csv'

handle = open(target_path, "wb")
for chunk in x.iter_content(chunk_size=512):
    if chunk:  # filter out keep-alive new chunks
        handle.write(chunk)
handle.close()

In [0]:
!ls

airqo_metadata.csv  proc_data	    subs      Train.csv
model_save	    sample_sub.csv  Test.csv

In [0]:
import pandas as pd 
import numpy as np 
from tqdm import tqdm
import math
import gc

In [0]:
sample=pd.read_csv('sample_sub.csv')
sample.shape

(5035, 2)

In [0]:
sample.head()

          ID  target
0  ID_test_0       0
1  ID_test_1       0
2  ID_test_2       0
3  ID_test_3       0
4  ID_test_4       0

In [0]:
# ! cp data/Train_target.csv ./raw_data/Train_target.csv
# ! cp data/Test_target.csv ./raw_data/Test_target.csv

In [0]:
train=pd.read_csv("Train.csv")
test=pd.read_csv("Test.csv")

In [0]:
train.head()

              ID  ...      target
0     ID_train_0  ...   45.126304
1     ID_train_1  ...   79.131702
2    ID_train_10  ...   32.661304
3   ID_train_100  ...   53.850238
4  ID_train_1000  ...  177.418750

[5 rows x 9 columns]

In [0]:
test.head()

             ID  ...                                        atmos_press
0     ID_test_0  ...  87.64333333,87.67,87.70583333,87.75083333,87.7...
1     ID_test_1  ...  87.8925,87.95666667,87.9925,87.9925,87.9808333...
2    ID_test_10  ...  90.34,90.2975,90.305,90.35583333,90.4425,90.49...
3   ID_test_100  ...  87.98833333,88.06333333,88.07833333,88.0366666...
4  ID_test_1000  ...  90.515,90.5575,90.62333333,90.6825,90.67916667...

[5 rows x 8 columns]

In [0]:
# covert features  fron string to List of values 
def replace_nan(x):
    if x==" ":
        return np.nan
    else :
        return float(x)
features=["temp","precip","rel_humidity","wind_dir","wind_spd","atmos_press"]
for feature in features : 
    train[feature]=train[feature].apply(lambda x: [ replace_nan(X) for X in x.replace("nan"," ").split(",")])
    test[feature]=test[feature].apply(lambda x: [ replace_nan(X)  for X in x.replace("nan"," ").split(",")])

### Features engineering part

In [0]:
def aggregate_features(x,col_name):
    x["max_"+col_name]=x[col_name].apply(np.max)
    x["min_"+col_name]=x[col_name].apply(np.min)
    x["mean_"+col_name]=x[col_name].apply(np.mean)
    x["std_"+col_name]=x[col_name].apply(np.std)
    x["var_"+col_name]=x[col_name].apply(np.var)
    x["median_"+col_name]=x[col_name].apply(np.median)
    x["ptp_"+col_name]=x[col_name].apply(np.ptp)
    return x  
def remove_nan_values(x):
    return [e for e in x if not math.isnan(e)]

In [0]:
data=pd.concat([train,test],sort=False).reset_index(drop=True)
data.columns.tolist()

['ID',
 'location',
 'temp',
 'precip',
 'rel_humidity',
 'wind_dir',
 'wind_spd',
 'atmos_press',
 'target']

In [0]:
data.shape

(20574, 9)

In [0]:
for col_name in tqdm(features):
    data[col_name]=data[col_name].apply(remove_nan_values)

100%|██████████| 6/6 [00:01<00:00,  3.06it/s]

In [0]:
for col_name in tqdm(features):
    data=aggregate_features(data,col_name)

100%|██████████| 6/6 [00:23<00:00,  3.92s/it]

In [0]:
data.drop(features,1,inplace=True)

In [0]:
train=data[data.target.notnull()].reset_index(drop=True)
test=data[data.target.isna()].reset_index(drop=True)

In [0]:
del data  
gc.collect()

93

In [0]:
train.head()

              ID location  ...  median_atmos_press  ptp_atmos_press
0     ID_train_0        C  ...           87.762083         0.257500
1     ID_train_1        D  ...           90.429167         0.668333
2    ID_train_10        A  ...           88.425000         0.830833
3   ID_train_100        A  ...           88.400000         0.720000
4  ID_train_1000        A  ...           88.552500         0.450833

[5 rows x 45 columns]

In [0]:
test.head()

             ID location  ...  median_atmos_press  ptp_atmos_press
0     ID_test_0        C  ...           87.752500         0.546667
1     ID_test_1        C  ...           87.928333         0.609167
2    ID_test_10        D  ...           90.536667         0.670000
3   ID_test_100        C  ...           87.726667         0.518333
4  ID_test_1000        D  ...           90.487273         0.692500

[5 rows x 45 columns]

#### Cross validation strategy (Kfold,or simple train test split )

In [0]:
Experiment_name="simple_model"

In [0]:
import os
os.makedirs("proc_data", exist_ok=True)
# os.makedirs("model_save/lgbm/{}".format(Experiment_name), exist_ok=True)
# os.makedirs("model_save/catboost/{}".format(Experiment_name), exist_ok=True)
# os.makedirs("model_save/xgboost/{}".format(Experiment_name), exist_ok=True)

In [0]:
try : 
    folds=pd.read_csv("./proc_data/folds_id.csv")
    train=train.merge(folds,on="ID",how="left")
    train.fold.nunique()
except : 
    #  you run this cell  only for the first time 
    from sklearn.model_selection import KFold 
    kfold=KFold(n_splits=5,shuffle=True,random_state=2020) # change this random_state or all of you will have the same score  :D 
    train.reset_index(drop=True,inplace=True)
    folds=train[["ID"]].copy()
    folds["fold"]=0
    for fold,(tr_indx,val_ind) in enumerate(kfold.split(folds)) : 
        folds.loc[val_ind,"fold"]=fold
    folds.to_csv("./proc_data/folds_id.csv",index=False)
    train=train.merge(folds,on="ID",how="left")
    
    del folds

### Model

### Lgbm

In [0]:
train.columns

Index(['ID', 'location', 'target', 'max_temp', 'min_temp', 'mean_temp',
       'std_temp', 'var_temp', 'median_temp', 'ptp_temp', 'max_precip',
       'min_precip', 'mean_precip', 'std_precip', 'var_precip',
       'median_precip', 'ptp_precip', 'max_rel_humidity', 'min_rel_humidity',
       'mean_rel_humidity', 'std_rel_humidity', 'var_rel_humidity',
       'median_rel_humidity', 'ptp_rel_humidity', 'max_wind_dir',
       'min_wind_dir', 'mean_wind_dir', 'std_wind_dir', 'var_wind_dir',
       'median_wind_dir', 'ptp_wind_dir', 'max_wind_spd', 'min_wind_spd',
       'mean_wind_spd', 'std_wind_spd', 'var_wind_spd', 'median_wind_spd',
       'ptp_wind_spd', 'max_atmos_press', 'min_atmos_press',
       'mean_atmos_press', 'std_atmos_press', 'var_atmos_press',
       'median_atmos_press', 'ptp_atmos_press', 'fold'],
      dtype='object')

In [0]:
target_name="target"
id_name="ID"
features_to_remove=["location",target_name,id_name,"fold"]
features=train.columns.tolist()
features=[ fea for fea in  features if fea not in features_to_remove  ]
features

In [0]:
from sklearn.metrics import mean_squared_error
def metric(y,x):
    return np.sqrt(mean_squared_error(x,y))

In [0]:
import  lightgbm as lgbm 
import xgboost as xgb 
#import catboost as cat

In [0]:
def train_function(model,train,test,params,other_params,target_name,features,metric):
    folds_num=train.fold.nunique()
    validation=train[[id_name,"fold",target_name]].copy()
    validation["pred_"+target_name]=0
    sub=test[[id_name]].copy()
    
    for fold in np.sort(train.fold.unique()):
        print("#"*50+" {} ".format(fold)+"#"*50)
        os.makedirs("model_save/lgbm/{}/{}".format(Experiment_name,str(int(fold))), exist_ok=True)
        X_train=train[train.fold!=fold]
        X_val=train[train.fold==fold]
        
        train_pred,validation_pred,test_pred=model(X_train,X_val,test,params,other_params)
        
        validation.loc[validation.fold==fold,"pred_"+target_name]=validation_pred
        sub[target_name]=test_pred/folds_num
        train_score=metric(X_train[target_name],train_pred)
        val_score=metric(X_val[target_name],validation_pred)
        print("train score : {} validation score : {}".format(round(train_score,4),round(val_score,4)))
    final_validation_score=metric(validation[target_name],validation["pred_"+target_name])
    print("final validation score : {}".format(final_validation_score))
        
    return sub,validation,final_validation_score

def lgbm_model(X_train,X_val,X_test,params,other_params):
    dtrain = lgbm.Dataset(data=X_train[features], label=X_train[target_name], feature_name=features)
    dval = lgbm.Dataset(data=X_val[features], label=X_val[target_name], feature_name=features)

    
    model = lgbm.train(
        params=params,
        train_set=dtrain,
        num_boost_round=other_params["num_boost_round"],
        valid_sets=(dtrain, dval),
        early_stopping_rounds=other_params["early_stopping_rounds"],
        verbose_eval=other_params["verbose_eval"]
    )        
    best_iteration = model.best_iteration
    train_pred=model.predict(X_train[features], num_iteration=best_iteration)
    validation_pred=model.predict(X_val[features], num_iteration=best_iteration)
    test_pred=model.predict(X_test[features], num_iteration=best_iteration)

    
    return train_pred,validation_pred,test_pred

In [0]:
other_params={"num_boost_round":50000000,
              "early_stopping_rounds":50,
              "verbose_eval":1000,
}
lgbm_params = {
    "bagging_fraction": 0.8,
    "bagging_freq": 2,
    "boosting_type": "gbdt",
    "feature_fraction": 0.8,
    "learning_rate": 0.01,
    "max_depth": 8,
    "num_threads": 16,
    "objective": "regression",
    "metric": "rmse",
    "seed": 2020,
}

In [0]:
sub,validation,score=train_function(model=lgbm_model,
                                    train=train,
                                    test=test,
                                    params=lgbm_params,
                                    other_params=other_params,
                                    target_name=target_name,
                                    features=features,
                                    metric=metric)

################################################## 0 ##################################################
Training until validation scores don't improve for 50 rounds.
[1000]	training's rmse: 26.3855	valid_1's rmse: 32.8513
[2000]	training's rmse: 23.2556	valid_1's rmse: 31.4235
[3000]	training's rmse: 21.2613	valid_1's rmse: 30.6293
[4000]	training's rmse: 19.7679	valid_1's rmse: 30.1133
[5000]	training's rmse: 18.5843	valid_1's rmse: 29.7288
[6000]	training's rmse: 17.6155	valid_1's rmse: 29.4514
[7000]	training's rmse: 16.7918	valid_1's rmse: 29.228
[8000]	training's rmse: 16.0739	valid_1's rmse: 29.0545
Early stopping, best iteration is:
[8442]	training's rmse: 15.7931	valid_1's rmse: 28.9985
train score : 15.7931 validation score : 28.9985
################################################## 1 ##################################################
Training until validation scores don't improve for 50 rounds.
[1000]	training's rmse: 26.9397	valid_1's rmse: 30.2407
[2000]	training's rmse: 23.713	valid_1's rmse: 28.9678
[3000]	training's rmse: 21.6072	valid_1's rmse: 28.4087
[4000]	training's rmse: 20.0619	valid_1's rmse: 27.9715
[5000]	training's rmse: 18.839	valid_1's rmse: 27.706
[6000]	training's rmse: 17.8581	valid_1's rmse: 27.5152
Early stopping, best iteration is:
[6269]	training's rmse: 17.6135	valid_1's rmse: 27.4549
train score : 17.6135 validation score : 27.4549
################################################## 2 ##################################################
Training until validation scores don't improve for 50 rounds.
[1000]	training's rmse: 26.3663	valid_1's rmse: 32.5008
[2000]	training's rmse: 23.2585	valid_1's rmse: 31.1576
[3000]	training's rmse: 21.2826	valid_1's rmse: 30.4533
[4000]	training's rmse: 19.808	valid_1's rmse: 29.9297
[5000]	training's rmse: 18.6579	valid_1's rmse: 29.5718
[6000]	training's rmse: 17.6855	valid_1's rmse: 29.3001
Early stopping, best iteration is:
[6478]	training's rmse: 17.2878	valid_1's rmse: 29.1908
train score : 17.2878 validation score : 29.1908
################################################## 3 ##################################################
Training until validation scores don't improve for 50 rounds.
[1000]	training's rmse: 26.8432	valid_1's rmse: 29.4512
[2000]	training's rmse: 23.6593	valid_1's rmse: 28.0053
[3000]	training's rmse: 21.57	valid_1's rmse: 27.2886
[4000]	training's rmse: 20.0268	valid_1's rmse: 26.8607
[5000]	training's rmse: 18.812	valid_1's rmse: 26.5499
[6000]	training's rmse: 17.8045	valid_1's rmse: 26.3299
Early stopping, best iteration is:
[6034]	training's rmse: 17.7729	valid_1's rmse: 26.3173
train score : 17.7729 validation score : 26.3173
################################################## 4 ##################################################
Training until validation scores don't improve for 50 rounds.
[1000]	training's rmse: 26.6113	valid_1's rmse: 30.6335
[2000]	training's rmse: 23.471	valid_1's rmse: 29.4892
[3000]	training's rmse: 21.3838	valid_1's rmse: 28.868
[4000]	training's rmse: 19.8721	valid_1's rmse: 28.4749
[5000]	training's rmse: 18.6703	valid_1's rmse: 28.2315
[6000]	training's rmse: 17.6619	valid_1's rmse: 28.0332
[7000]	training's rmse: 16.824	valid_1's rmse: 27.882
Early stopping, best iteration is:
[7332]	training's rmse: 16.5704	valid_1's rmse: 27.8229
train score : 16.5704 validation score : 27.8229
final validation score : 27.976793947624454

In [0]:
os.makedirs("subs", exist_ok=True)

In [0]:
sub.head(10)

             ID     target
0     ID_test_0   9.291990
1     ID_test_1  37.069261
2    ID_test_10  10.828828
3   ID_test_100  23.121519
4  ID_test_1000  21.970731
5  ID_test_1001   9.832952
6  ID_test_1002  13.632177
7  ID_test_1003  29.417090
8  ID_test_1004  11.417143
9  ID_test_1005   7.098362

In [0]:
sub1=sub.copy()
sub1['ID']=sample['ID']
sub1.head()

          ID     target
0  ID_test_0   9.291990
1  ID_test_1  37.069261
2  ID_test_2  10.828828
3  ID_test_3  23.121519
4  ID_test_4  21.970731

In [0]:
sub1.to_csv("./subs/lgbm_{}.csv".format(round(score,2)),index=False)